<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Client Side</title>
</head>
<body data-ng-app="booksApp">
  <main data-ng-controller="booksController">
    <h1>Welcome to the Book store</h1>
    <h2>Add book to the list:</h2>
      <form name="newBookForm" data-ng-submit="createNewBook(book)">
        <div>Book Name: <input data-ng-model="book.name" type="text"></div>
        <div>Book Author: <input data-ng-model="book.author" type="text"></div>
        <div>Book Price: <input data-ng-model="book.price" type="text"></div>
        <button type="submit" data-ng-disabled="newBookForm.$invalid">Add Book</button>
      </form>
      <div data-book-form-directive></div>
  </main>
  <script src="bundle.js"></script>
</body>
</html>
