    <form name="bookForm">
      <h2>Get Books2</h2>
      <button data-ng-click="getAll()">Get Books</button>
      <ul data-ng-repeat="book in books">
        <li>name: {{book.name}}</li>
        <li>author: {{book.author}}</li>
        <li>price: {{book.price}}</li>          
        <button data-ng-click="removeBook(book)">Delete Book</button>
        <button data-ng-if="!book.editing" data-ng-click="editBook(book)">Edit</button>
        <div name="{{'editing' + book_id}}" data-ng-if="book.editing">
          <form data-ng-submit="saveBook(book)">
            <div>name: <input data-ng-model="book.name" type="text"></div>
            <div>author: <input data-ng-model="book.author" type="text"></div>
            <div>price: <input data-ng-model="book.price" type="text"></div>
            <button type="submit">Save Changes</button>
          </form>
          <button data-ng-click="cancelEdit(book)">Cancel</button>
        </div>
      </ul>
    </form>